<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hirain.web.ssm.mapping.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.hirain.web.ssm.entity.Role" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="rolename" property="rolename" jdbcType="VARCHAR" />
    <result column="cname" property="cname" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, rolename, cname, description
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_role
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByCname" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select
  	<include refid="Base_Column_List"/>
  	from t_role
  	where cname=#{cname,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List"/>
  	from t_role
  	where id != 1
  </select>
  <select id="selectPermissionOfRole" parameterType="java.lang.Long" resultType="java.lang.Long">
  	select permission_id
  	from t_role_permission
  	where role_id=#{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_role
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deletePermissionOfRole" parameterType="java.lang.Long">
  	delete from t_role_permission
  	where role_id=#{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteRoleOfUser" parameterType="java.lang.Long">
  	delete from t_user_role
  	where role_id=#{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hirain.web.ssm.entity.Role" >
    insert into t_role (id, rolename, cname, 
      description)
    values (#{id,jdbcType=BIGINT}, #{rolename,jdbcType=VARCHAR}, #{cname,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hirain.web.ssm.entity.Role" >
    insert into t_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="rolename != null" >
        rolename,
      </if>
      <if test="cname != null" >
        cname,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="rolename != null" >
        #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="cname != null" >
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hirain.web.ssm.entity.Role" >
    update t_role
    <set >
      <if test="rolename != null" >
        rolename = #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="cname != null" >
        cname = #{cname,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hirain.web.ssm.entity.Role" >
    update t_role
    set rolename = #{rolename,jdbcType=VARCHAR},
      cname = #{cname,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="insertUserAndRole">
  	insert into t_user_role(role_id,user_id)
  	values(#{roleId,jdbcType=BIGINT},#{userId,jdbcType=BIGINT})
  </insert>
  <insert id="insertRoleAndPermission">
  	insert into t_role_permission(role_id,permission_id)
  	values(#{roleId,jdbcType=BIGINT},#{permissionId,jdbcType=BIGINT})
  </insert>
</mapper>